.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  color: var(--gray-300);

  svg {
    color: var(--gray-400);
  }

  h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;

    span {
      font-weight: normal;
    }
  }
}
